<!DOCTYPE html>
<html>
<head>
  <title>MySQL Website</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>
  <div class="container">
    <h2>The API is running</h2>
    <form method="POST" action="/admin">
      <div class="form-group" >
        <label>Click the below button to go to admin portal</label>
      </div>
      <button type="submit" class="btn btn-primary">Go to admin Portal</button>
    </form>
    <form method="POST" action="/api/word">
      <div class="form-group" >
        <label>Click the below button view the word</label>
      </div>
      <button type="submit" class="btn btn-primary">Go to View word</button>
    </form>
  </div>
</body>
</html>
